<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Keep</title>
  <style>
    body{
      margin: 10%;
      background-image: url('https://images.unsplash.com/photo-1606040879707-0629f60767aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=789&q=80');
      background-size: cover;
    }
    section{
      background-color: #e5cfd5;
    }
    input{
      font-size: x-large;
    }
  </style>
</head>
<body>
<section>
  <center>
    <h1><u>Keep your contents into the locker !</u></h1>
    <img src="https://cdn.pixabay.com/photo/2012/04/16/13/32/lock-36018_1280.png" height="300" width="300"><br><br>
    
    <a href="http://127.0.0.1:8000/in_out"><button type="submit" name = "Lock" class="btn" style="background-color: #05527d; color:white; margin: 2%; font-size: x-large;">Lock</button></a>
    <a href="http://127.0.0.1:8000/"><button type="submit" name = "Cancel" class="btn" style="background-color: #05527d; color:white; margin: 2%; font-size: x-large;">Cancel</button></a>

  </center>
</section>
</body>
</html>